[submodule "build_sub"]
	path = build_sub
	url = https://github.com/songjung110/vue3-study-project__buildsub.git
[submodule "vue3-study-project/build_sub/vue3-study-project__buildsub"]
	path = vue3-study-project/build_sub/vue3-study-project__buildsub
	url = https://github.com/songjung110/vue3-study-project__buildsub.git
