@charset 'utf-8';

main {
  padding: 20px;
}

.l-section {
  margin-bottom: 1.5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
}
